//// Retina ( 2x resolution devices )
/// --------------------------------
///     This applies to the retina iPhone (4s) and iPad (2,3) along with
///     other displays with a 2x resolution. You can also create a media
///     query for retina AND a certain size if needed.
///
/// @group    mixins
@mixin retina {
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2 / 1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
	@content;
	}
}

/// Print styles
/// ------------
///     Feel free to customize this. Remember to add things that won't make
///     sense to print at the bottom. Things like nav, ads, and forms should
///     be set to display none.
///
/// @group    mixins
@mixin print {
	@media print {
		@content;
	}
}

/// Font face
/// ---------
/// Shorthand to setup one or multiple @font-face declarations with just one-line
///
/// @param    { int }    $size    min-width in pixels
/// @example  scss - Usage
///           @include font-face( Josefin Sans, Josefin Sans-Regular );
///           @include font-face( Josefin Sans, Josefin Sans-Italic, italic );
///           @include font-face( Josefin Sans, Josefin Sans-SemiBoldItalic, italic, 600 );
/// @example  css - CSS Output
///           @font-face {
///               font-family: "Josefin Sans";
///               font-style: normal;
///               font-weight: normal;
///               src: url("fonts/Josefin Sans-Regular.ttf");
///           }
///           @font-face {
///               font-family: "Josefin Sans";
///               font-style: italic;
///               font-weight: normal;
///               src: url("fonts/Josefin Sans-Italic.ttf");
///           }
///           @font-face {
///               font-family: "Josefin Sans";
///               font-style: italic;
///               font-weight: 600;
///               src: url("fonts/Josefin Sans-SemiBoldItalic.ttf");
///           }
///
/// @require  { @content } reference function
/// @output   `media-query`
/// @group    mixins
@mixin font-face( $font-family-name, $file-name, $style: '', $weight: '' ) {
    // $filepath: 'fonts/' + $file-name + '.ttf';
    $filepath: '"' + $file-name + '.ttf"';
    @font-face {
        font-family: '#{$font-family-name}';
        @if $style != '' {
            @if $style == 'normal'
             or $style == 'italic'
             or $style == 'oblique' { // sass-lint:disable-line brace-style
                font-style: #{$style};
            }
        } @else {
            font-style: normal;
        }
        @if $weight != '' {
            @if $weight == 100
             or $weight == 200
             or $weight == 300
             or $weight == 400
             or $weight == 500
             or $weight == 600
             or $weight == 700
             or $weight == 800
             or $weight == 900
             or $weight == 'normal'
             or $weight == 'bold'
             or $weight == 'lighter'
             or $weight == 'bolder' { // sass-lint:disable-line brace-style
                font-weight: #{$weight};
            }
        } @else {
            font-weight: normal;
        }
        src: url( $filepath );
    }
}
